<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefas</title>
</head>
<body>
        <h1>Seja bem-vindo {{nome}}  !</h1>

    <ul>
        <li><a href="{% url 'tarefas:home' %}">Home</a></li>
        <li><a href="{% url 'tarefas:editar' %}">Editar Tarefa</a></li>
        <li><a href="{% url 'tarefas:excluir' %}">Excluir Tarefa</a></li>
    </ul>


    <table>
        <thead>
            <tr>
                <th>Assunto</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    
    </table>
</body>
</html>