<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefas</title>
    <style>

    </style>
</head>
<body>
        <h1>Seja bem-vindo {{nome}}  !</h1>

    <ul>
        <li><a href="{% url 'tarefas:home' %}">Home</a></li>
        <li><a href="{% url 'tarefas:editar' %}">Editar Tarefa</a></li>
        <li><a href="{% url 'tarefas:excluir' %}">Excluir Tarefa</a></li>
    </ul>


    <h1>Adicionar Tarefa 1.0</h1>
    <form action="" method="post" class="formulario">
        {% csrf_token %}
        {{form}}
        <button type="submit">Adicionar</button>
    </form>

</body>
</html>