<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <style>
        .tabelaTarefas{
            border: 1px solid;
            padding: 4px;
        }

        .tabelaTarefas tr td{
            border: 1px solid;
            padding: 4px;
        }
    </style>
</head>
<body>
    <h1>Seja bem-vindo {{nome}}  !</h1>




    <p>Lista de tarefas:</p>

    <table class="tabelaTarefas">
        <thead>
            <tr>
                <th>Assunto</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data de Criação</th> 
            </tr>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{tarefa.assunto}}</td>
                <td>{{tarefa.descricao}}</td>
                <td>{{tarefa.status}}</td>
                <td>{{tarefa.data_criacao}}</td>
                <td><a href="{% url 'tarefas:excluir' id=tarefa.id %}">Excluir</a></td>

            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    
    </table>
</body>
</html>